// Snackloop Custom variables
$baseBodyColor:#f7f5f5 !default;
$featuredLightColor:#ebebeb !default;
$featuredDarkColor:#FFF !default;
$white:#FFF !default;
$linkColor:#2980b9 !default;
$baseFontColor:#252525 !default;
$baseTitleColor:#34495e !default;
$primaryButtonColor:#02bd85 !default;
$primaryButtonBorderColor:#189a99 !default;

$signupButtonBorderColor:#3b7194 !default;

// Logo Color
$snackColor:#050e3c !default;
$loopColor:#7eeff3 !default;

// Header Section
$headerBackgroundColor:#eff3f3 !default;
$headerBackgroundColorGrad:#f7f5f5 !default;
$headerToggleButtonColor:#3498db !default;
// Featured Section
$actionButtonBackgroundColor:$linkColor;
$actionButtonBackgroundBorderColor:#e1e1e1 !default;

$facebookBadgeBackgroundColor:#6681ae !default;
$facebookIconBackgroundColor:#405e97 !default;
$twitterIconBackgroundColor:#00529c !default;
$twitterBadgeBackgroundColor:#5ea2e5 !default;

// Main Section
$sectionMainTitleBackground:#ebebeb !default;
$sectionMainTitleColor:#566473 !default;
$sectionMainTitleBorderColor:#7f8c8d !default;

// Footer Section
$footerBackgroundColor:#1f3038 !default;
$footerNavLinkColor:#eff3f3 !default;
$footerLinkBackgroundColor:#1175A0 !default;

$footerFacebookColor:#3f65b1 !default;
$footerTwitterColor:#63d1f0 !default;
$footerSocialBorderColor:#d7d7d7 !default;

$fullWidthContainer: 100%;

// Campaign List Section
$campaignListBackgroundColor:#2b2937 !default;
$campaignListTitleColor:$white;
$campaignListCategoryColor:#9095aa !default;
$campaignListExcerptColor:#e1e1e1 !default;
$campaignListShareTitleBackground:$linkColor;
$campaignListShareTitleColor:$white;
$campaignListShareIconsHolderBackground:#bdc3c7 !default;
$campaignListShareIconsColor:#404040 !default;
