.service-section{
  .section-user{
    text-align: center;
    img{
      margin:0 auto;
      padding: 0;
      text-align: center;
    }
  }
}
.section-service-home{
  text-align: center;
  img{
    margin:0 auto;
    padding: 0;
    text-align: center;
  }
  p{
    margin-bottom: 2em;
    font-size:em(18);
    padding-left:4em;
    padding-right:4em;
  }
  .title-section{
    font-size: em(28);
  }
}


